* {
	padding : 0;
	margin  : 0;
}

body
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow:hidden;
}
#back-button
{
    position:absolute;
    display:none;
    top:16px;
    left:128px;
    width:32px;
    height:32px;
    background-image:url('images/back-btn.svg');
    background-size:contain;
    background-position:center;
    cursor:pointer;
}
#title
{
  display:inline-flex;
  flex-flow:row nowrap;
  justify-content: center;
  width:70vw;
  font-weight:bold;
  cursor:pointer;
}
.letter
{
    margin-top : 20vh;
    position   : relative;
    top        : 0;
    left       : 0;
    display    : inline-block;
    text-align : center;
    flex-grow  : 1;
    color      : #607D8B;
    user-select : none;
    transition : all 1000ms cubic-bezier(0.36, 0.27, 0.06, 0.9);
}
.letter *
{
    pointer-events: none;
}

#map {
	position   : absolute;
	z-index    : -1;
	width      : 100vw;
	height     : 100vh;

	-ms-filter : blur(3px);
	filter     : blur(3px);
    transition : filter 1000ms cubic-bezier(0.36, 0.27, 0.06, 0.9);
}

.big-letter
{
  display:block;
  font-size:150pt;
}
.subtitle
{
  display:block;
  font-size:16pt;
  margin-top:-20pt;
}
.letter:hover
{
    transform:scale(1.2);
}
.letter#s:hover
{
  color:#fe4a49;
  font-size:16pt;
}
.letter#t:hover
{
  color:#c7e88b;
}
.letter#e:hover
{
  color:#08b2e3;
}
.letter#a:hover
{
  color:#ffcc00;
}
.letter#m:hover
{
  color:#B388EB;
}
#login-container
{
    position:relative;
    left:0;
    top:0;
    transition:all 1000ms cubic-bezier(0.36, 0.27, 0.06, 0.9);
    display:inline-block;
    margin-top:50px;
}
#login-button
{
    display:inline-block;
    cursor:pointer;
    background-color:rgb(59,89,152);
    padding:8px 20px 8px 8px;
    border-radius:5px;
}
#login-button img
{
    display:inline-block;
    width:32px;
    height:32px;
    vertical-align: middle;
}
#login-button span
{
    display:inline-block;
    margin-left:20px;
    vertical-align: middle;
    color:white;
}
#login-welcome
{
    display:none;
    font-size:24pt;
    color:rgb(65,64,66);
    cursor:default;
}
#subscribe
{
    position:absolute;
    text-align:center;
    display:none;
    top:30vh;
    height:40vh;
    margin-left:30vw;
    width:40vw;
    background-color:rgb(240,240,230);
    border:1px solid rgb(191,191,191);
    border-radius:8px;
}
.heading
{
    display:inline-block;
    color:rgb(65,64,66);
    font-size:20pt;
    font-weight:bold;
    margin:8% 0 13% 0;
}
#subscribe input
{
    display:inline-block;
    width:70%;
    height:30px;
    margin:0;
    padding:5px;
    background-color:white;
    border-radius:5px 0 0 5px;
    border:none;
}
#subscribe-submit
{
    display:inline-block;
    margin-left:-5px;
    height:30px;
    padding:7px 10px;
    border-radius:0 5px 5px 0;
    border:none;
    background-color:#574AE2;
    color:white;
    cursor:pointer;
}
#subscribe-submit:focus
{
    outline:none;
}
#subscribe-cancel
{
    display:inline-block;
    margin-top:8%;
    color:#574AE2;
    text-decoration:none;
}
#subscribe-close
{
    position:absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    background-image:url('images/close-btn.svg');
    background-size:contain;
    background-position:center;
    cursor:pointer;
}