* {
	padding : 0;
	margin  : 0;
}

body
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#title
{
  display:inline-flex;
  flex-flow:row nowrap;
  justify-content: center;
  width:70vw;
  font-weight:bold;
  cursor:pointer;
}
.letter
{
  margin-top:20vh;
  display    :inline-block;
  text-align : center;
  flex-grow  :1;
	color    : #607D8B;
  transition :color ease-out 0.3s;
}

#map {
	position   : absolute;
	z-index    : -1;
	width      : 100vw;
	height     : 100vh;

	-ms-filter : blur(3px);
	filter     : blur(3px);
}

.big-letter
{
  display:block;
  font-size:150pt;
}
.subtitle
{
  display:block;
  font-size:16pt;
  margin-top:-20pt;
}
.letter#s:hover
{
  color:#fe4a49;
  font-size:16pt;
}
.letter#t:hover
{
  color:#c7e88b;
}
.letter#e:hover
{
  color:#08b2e3;
}
.letter#a:hover
{
  color:#ffcc00;
}
.letter#m:hover
{
  color:#B388EB;
}
#login-button
{
    display:inline-block;
    cursor:pointer;
    background-color:rgb(59,89,152);
    padding:8px 20px 8px 8px;
    border-radius:5px;
    margin-top:50px;
}
#login-button img
{
    display:inline-block;
    width:32px;
    height:32px;
    vertical-align: middle;
}
#login-button span
{
    display:inline-block;
    margin-left:20px;
    vertical-align: middle;
    color:white;
}
#subscribe
{
    position:absolute;
    display:none;
    top:30vh;
    height:40vh;
    margin-left:30vw;
    width:40vw;
    background-color:rgb(245,245,245);
    border:1px solid rgb(191,191,191);
    border-radius:8px;
}